.main {
  max-width: 1440px;
  margin: 0 auto;
}

.main__content-box {
  max-width: 608px;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}

.main__button {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  background: #2F71E5;
  width: 360px;
  height: 64px;
  border-radius: 100px;
  border: unset;
  margin-top: 39px;
  margin-left: calc((100% - 360px) / 2);
  padding: 0;
  cursor: url('../../images/pointer.svg'), pointer;
  outline: none;
  transition: all 0.5s linear;
}

.main__button:hover {
  background: #347EFF;
}

 @media (max-width: 950px) {
  .main__content-box {
    padding-top: 38px;
    padding-bottom: 48px;
    max-width: 448px;
  }
  .main__button {
    width: 320px;
    margin-left: calc((100% - 320px) / 2);
  }
}



